<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>MP - Mercado Premium</title>
  </head>
  <body>
    <div>
      <div>Nome do produto</div>
      <div>Valor: <span>199,95</span></div>
      <div>Data de entrega: <span>13/08/2024</span></div>
      <div>Produto</div>
      <div>
        <input value="url do produto">
      </div>
      <div>Descrição</div>
      <div>
        <textarea>descrição do produto</textarea>
      </div>
      <div>
        <img src="">
      </div>
    </div>
  </body>
</html>
